<% title "Forbidden" %>
<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Forbidden</h1>
	</div>
</div>
<!-- /.row -->
<header class="jumbotron hero-spacer">
	<h2 class="text-center"><code>Error <%= @status_code %></code></h2>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					<h4 style="text-align: center"><%= @exception %></h4>
				</li>	
				<li class="list-group-item">
					<h4 style="text-align: center"><%= @exception.inspect %></h4>
				</li>				
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-offset-9">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<%= link_to "Home", root_path , :class => 'btn btn-success btn-large' , :role => 'button'%>
				</div>
			</div>
		</div>
	</div>
</header>